.footer{
    text-align: center;
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: .1rem .1rem .5rem .2rem rgb(26, 25, 25);
    margin: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}
.p{
    color: #84e;
    font-weight: bolder;
}