*{
    margin: 0;
    padding: 0;
}
.app{
    background-color: #84e;
    width: 100%;
    height: 100vh;
}
/*formulario*/
form{
    padding: 0 2rem;
}
.indice{
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;
}
/*svg logo*/
.svg{
    margin-right: 2rem;
}